* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.navbar {
  background: #009100;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}
main {
  padding: 40px;
  text-align: center;
}

.intro h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.intro p {
  margin-bottom: 20px;
  color: #333;
}

.btn {
  display: inline-block;
  background: #af8000;
  color: #fff;
  padding: 12px 20px;
  margin: 10px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

/* Estilização do menu */
nav {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: #009100; /* azul padrão */
    padding: 10px 20px;
    border-radius: 8px;
    transition: background 0.3s;
    font-weight: bold;
}

nav a:hover {
    background-color: #009100; /* azul mais escuro no hover */
}

.btn:hover {
  background: #af8000;
}

footer {
  background: #009100;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}


.card {
  background: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card h3 {
  margin-bottom: 10px;
  color: #009100;
}
.card p {
  color: #555;
  font-size: 14px;
  line-height: 1.5;
}
.cep-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

#cep-input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  border: 2px solid #009100;
  border-radius: 8px;
}
#cep-input:focus {
  outline: none;
  border-color: #006600;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar ul {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  main {
    padding: 20px;
  }
  .links-home, .cep-form {
    flex-direction: column;
    gap: 10px;
  }

  #cep-input {
    width: 100%;
  }

  .cards-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  .btn {
    padding: 10px 15px;
    font-size: 14px;
  }
}
